* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.crsr__p {
  cursor: pointer;
}
.color-grey {
  color: #222328;
}
.h-100vh {
  height: 100vh;
}
.header {
  height: 100vh;
  color: #ffffff;
  padding-top: 3rem;
  background-image: url(img/Background.png);
  background-size: cover;
}
.box__menu {
  display: flex;
  align-items: center;
}
.menu {
  width: 80%;
}
.menu__item {
  margin-right: 4rem;
  font-weight: bold;
  letter-spacing: 4px;
}
.menu__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu__search {
  width: 250px;
  height: 50px;
  padding-left: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #ffffff;
  background-image: url(img/Search.png);
  background-repeat: no-repeat;
  background-position: 90%;
}
.box__menu-wdt90 {
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}
.title {
  font-family: "Kristi";
  font-size: 8rem;
}
.box__title {
  width: 30%;
}
.box__spagetti {
  width: 50%;
  position: relative;
}
.box__title__crsv-bld {
  letter-spacing: 5px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}
.box__title__crsv {
  font-style: italic;
}
button {
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  outline: none;
  cursor: pointer;
}
.box__title__button {
  width: 200px;
  line-height: 2rem;
  font-size: 20px;
  color: #2e3034;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.box__title__button:hover {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.m-top-5vh {
  margin-top: 3rem;
}
.m-top-2vh {
  margin-top: 2rem;
}
.pad-2 {
  padding: 2rem;
}
.sous__pstn {
  position: absolute;
  top: 72%;
  left: -25%;
}
.bletter__pstn {
  position: absolute;
  bottom: -50%;
  right: 0%;
}
.img-psn {
  margin: 0 auto;
  display: block;
}
.w-333 {
  width: 333px;
}

.pizza__title {
  text-align: center;
}
.button__center {
  display: flex;
  justify-content: center;
}
.pizza__button {
  width: 250px;
  font-size: 20px;
  height: 3rem;
  margin: 4rem auto;
  color: #ffffff;
  background-color: #2e3034;
  border: 2px solid #2e3034;
}
.pizza__button:hover {
  color: #2e3034;
  background-color: transparent;
  border: 2px solid #2e3034;
}
.button__center-pdng {
  padding: 3rem;
}
.sale {
  width: 80%;
  margin: 4rem auto;
}
.box__menu-jstcont {
  justify-content: space-around;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.line {
  width: 8vw;
  height: 5px;
  background-color: #fff;
  margin: 3rem auto 0;
}
.pizza {
  position: relative;
}
.box__pizza {
  width: 100%;
}
.pizza__bletter {
  width: 98%;
  position: absolute;
  right: 1%;
  bottom: 30%;
}
.img__pizza {
  width: 38%;
  position: relative;
  left: 42%;
}
.img__piece {
  width: 20%;
  position: absolute;
  left: 25%;
  top: 80%;
}
.information {
  width: 80%;
  margin: 3rem auto 0;
}
.subtitle {
  width: 80%;
  margin: 15rem auto 10rem;
}
.title__inform {
  font-family: "Kristi";
  font-size: 5rem;
}
.email__bletter {
  width: 80%;
  position: absolute;
  bottom: -25%;
}
.email__title-fnts {
  font-size: 6rem;
  padding-top: 4rem;
}

.email__subtitle {
  width: 70%;
}
.email {
  display: flex;
}
.email__form {
  position: relative;
  width: 50%;
  top: 50%;
  left: 25%;
  padding-bottom: 10rem;
  padding-top: 3rem;
}
.email__input {
  width: 100%;
  height: 3rem;
  padding: 0 150px 0 15px;
  border-radius: 42px;
  border: 2px solid #fff;
  background: #fff;
  outline: none;
  position: relative;
}
.email__button {
  position: absolute;
  right: 0;
  height: 3rem;
  width: 148px;
  color: #ffffff;
  background-color: #2e3034;
  border: 2px solid #2e3034;
  font-size: 20px;
}
.email__button:hover {
  color: #2e3034;
  background-color: transparent;
  border: 2px solid #2e3034;
}
.contact {
  display: flex;
  height: 25rem;
  margin-top: 10rem;
  justify-content: space-around;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  cursor: pointer;
}
.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #2e3034;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.icon {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}
.inst {
  background-image: url(img/Instagram@1X.png);
}
.twi {
  background-image: url(img/Twitter@1X.png);
}
.fb {
  background-image: url(img/Facebook@1X.png);
}
.wa {
  background-image: url(img/WhatsApp@1X.png);
}
.ftr__inf {
  width: 40%;
  margin-right: 5rem;
}
@media (max-width: 1600px) {
  .title {
    font-size: 7rem;
  }
  .img__piece {
    top: 70%;
  }
}
@media (max-width: 1400px) {
  .title {
    font-size: 6rem;
  }
  .spagetti {
    max-width: 600px;
    width: 90%;
    height: auto;
  }
  .sous__pstn {
    max-width: 600px;
    width: 40%;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .title {
    font-size: 5rem;
  }
  .spagetti {
    max-width: 600px;
    width: 90%;
    height: auto;
  }
  .sous__pstn {
    max-width: 600px;
    width: 40%;
    height: auto;
  }
  .bletter__pstn {
    width: 100%;
  }
  .pizza {
    height: 70vh;
  }
  .img__piece {
    top: 80%;
  }
  #treepizza {
    flex-wrap: wrap;
    justify-content: center;
  }
  #email {
    height: auto !important;
  }
}
@media (max-width: 900px) {
  .box__title {
    width: 40%;
  }
  .title {
    font-size: 4rem;
  }
  .box__title__button {
    width: 200px;
    line-height: 2rem;
  }
  .menu__search {
    margin: 0 auto;
  }
  .menu__item {
    margin: 0 auto;
  }
  .menu {
    width: 100%;
  }
  .spagetti {
    max-width: 600px;
    width: 90%;
    height: auto;
  }
  .sous__pstn {
    max-width: 600px;
    width: 40%;
    height: auto;
  }
  .bletter__pstn {
    display: none;
  }
  .pizza {
    height: 50vh !important;
  }
  .img__piece {
    top: 90%;
  }
  .email__bletter {
    display: none;
  }
  #box__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #menu__list {
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .header {
    height: auto;
  }
  .spagetti {
    display: none;
  }
  .sous__pstn {
    display: none;
  }
  .bletter__pstn {
    display: none;
  }
  .img-psn {
    width: 70%;
  }
  .box__title {
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
  }
  .w-30 {
    width: 90%;
  }
  .w-40 {
    width: 70%;
  }
  .pizza__bletter {
    display: none;
  }
  .subtitle {
    margin: 5rem auto 3rem;
  }
  .img__piece {
    top: 80%;
  }
  #text {
    flex-wrap: wrap;
    justify-content: center;
  }
  #spagetti {
    display: none;
  }
  #sale {
    flex-direction: column;
  }
  #sale2 {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .pizza {
    height: 60vh !important;
  }
}
@media (max-width: 170px) {
  .img__piece {
    top: 95%;
  }
}
