*{
    margin: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.crsr__p{
    cursor: pointer;
}
.header{
    height: 100vh;
    color: #FFFFFF;
    padding-top: 3vh;
    background-image: url(./img/Background.png);
    background-size: cover;
}
.box__menu{
    display: flex;
    align-items: center;
}
.menu{
    width: 80%;
}
.menu__item{
    margin-right: 5vw;
    font-weight: bold;
}
.menu__list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.menu__form{
    width: 14vw;
    height: 5vh;
    background-color: #FFFFFF;
    border-radius: 20px;
    justify-content: space-around;
}
.menu__search{
    border: none;
    outline: none;
    background-color: #FFFFFF; 
}
.title{
    font-family: "Kristi";
    font-size: 5rem, bold;

}